body {
    width: 100vw;
    display: flex;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(155, 255, 147, 0.211);
    font-family: monospace;
}

.statusContent {
    display: flex;
    justify-content: center;
    width: 100vw;
}